/* VARIABLES */
/*background color*/
/* colors */
/* btn colors */
/*MIXINS*/
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}
/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
  font-weight: 700;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

/*MIXINS START */
/*HERO STYLE START*/
.site-hero__title {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  font-size: 50px;
}
.site-hero__desc {
  color: #333;
  padding-left: 40px;
  border-left: 3px solid #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.site-hero__btn {
  width: 260px;
  height: 51px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea2419;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

/*HERO STYLE END*/
/*Know your  START*/
.site-card__title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

/*Know your  END*/
/*Nike Sport START*/
.site-nike__title {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
}
.site-nike__desc {
  color: #333;
  padding-left: 40px;
  border-left: 3px solid #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.site-nike__btn {
  width: 260px;
  height: 51px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea2419;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

/*Nike Sport END*/
/*TAKE CONTROL START*/
.site-take__title {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
}
.site-take__desc {
  color: #333;
  padding-left: 40px;
  border-left: 3px solid #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.site-take__btn {
  width: 260px;
  height: 51px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea2419;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

/*TAKE CONTROL END*/
/*********************MIXINS END**************** */
/*********************HEADER STYLE SCSS START***********/
.site-header {
  width: 100%;
  padding: 30px;
}
.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header .site-nav {
  display: flex;
  justify-content: space-between;
}
.site-header .site-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header .site-nav__link {
  margin-right: 30px;
  color: #333;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}
.site-header .site-nav__input {
  width: 100%;
  height: 23px;
  margin-left: 10px;
  border: none;
  border-bottom: 2px solid #000;
  padding-bottom: 6px;
}

/**********************HEADER STYLE SCSS END****************************/
/********************HERO STYLE SCSS START*******************/
.site-hero {
  background-image: url(../assets/images/watches.png);
  background-repeat: no-repeat;
  background-size: 640px;
  background-position: calc(50% + 600px) 5px;
}
.site-hero__wrapper {
  width: 587px;
  height: 565px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.site-hero__content {
  width: 490px;
  height: 291px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.site-hero__title {
  width: 331px;
  height: 60px;
  margin-bottom: 30px;
}
.site-hero__desc {
  width: 490px;
  height: 120px;
  margin-bottom: 30px;
  padding-left: 40px;
  border-left: 3px solid #000;
}

/******************************HERO STYLE SCSS END***********************/
/*KNOW YOUR STYLE SCSS START*/
.site-card {
  width: auto;
  height: 393px;
  margin-bottom: 140px;
}
.site-card__wrapper {
  width: 1000px;
  height: 253px;
  padding: 70px;
}
.site-card__list {
  padding: 70px;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
.site-card__item {
  width: 280px;
  height: 196px;
  margin-right: 80px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.site-card__title {
  width: 280px;
  height: 27px;
  margin-bottom: 30px;
}
.site-card__desc {
  width: 280px;
  height: 168px;
  margin-bottom: 30px;
}
.site-card__btn {
  color: btnColor;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

/*KNOW YOUR STYLE SCSS END*/
/*******************************Nike Sport Band style scss start*********************/
.site-nike {
  width: auto;
  height: 739px;
  margin: 70px;
  padding: 70px;
}
.site-nike__wrapper {
  width: 1000px;
  height: 600px;
  margin-left: -40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nike__start {
  width: 490px;
  height: 387px;
  margin-right: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.site-nike__title {
  width: 380px;
  height: 180px;
  margin-bottom: 30px;
}
.site-nike__img {
  width: 400px;
  height: 600px;
}

/*******************************Nike Sport Band style scss end*********************/
/********************************Take control style scss start**********************/
.site-take {
  width: 100%;
  height: 830px;
  background-image: url("../assets/images/bg-end.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50% + 500px) 70px;
  background-position: 50%;
}
.site-take__wrapper {
  width: 490px;
  height: 351px;
  margin: 240px 125px 239px 635px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.site-take__title {
  width: 490px;
  height: 120px;
  margin-bottom: 30px;
  color: #FFFFFF;
}
.site-take__desc {
  border-left: 3px solid #FFFFFF;
  color: #FFFFFF;
  margin-bottom: 30px;
}

/*********************************Take control style scss  end******************************/
/*************************************MAIN STYLE SCSS END****************************//*# sourceMappingURL=main.css.map */