/* VARIABLES */
$fontFamily: 'Roboto', serif;
$fontWeightPrimary: 700;
$fontWeightSecondary: 400;
/*background color*/ 
$backgroundPrimary: #FFFFFF;
$backgroundSecondary: #DDDDDD;
  /* colors */
$colortext: #777;
$colorPrimary: #333;
$colorSecondary: #000;
 /* btn colors */
$btnColor: #ea2419;
$btnHover: #fff;
$btnDisabled: #fff;

